- activities.each do |activity|
  %div.timeline-block
    %div.timeline-block-image-border
      %div.timeline-block-image
        %i.icon.ion-ios-film-outline


    %div.timeline-content
      %h2
        = link_to activity.text, activity.subject
      %p
        = "(#{activity.subject.class.name.humanize.downcase})"
      %span
        = "#{activity.created_at}"