- activities.each do |activity|
  %div.timeline-block
    %div.timeline-block-image-border
      %div.timeline-block-image
        - if activity.subject.class.name.downcase == "video"
          %i.icon.ion-ios-videocam
        - elsif activity.subject.class.name.downcase == "move"
          %i.icon.ion-android-hand

    %div.timeline-content
      %span.username
        = link_to activity.user.username, activity.user
      %span
        posted a new
      %span.type
        = "#{activity.subject.class.name.downcase}"

      %h2
        = link_to activity.text, activity.subject

      %span.date
        = "#{activity.created_at}"