%div.timeline
  - if @feed.empty?
    %div.timeline-block
      %div.timeline-block-image-border
        %div.timeline-block-image
          %i.icon.ion-ios-star

      %div.timeline-content
        %div.welcome-message
          = image_tag("logo-white.svg", :class => "welcome-logo")
        %div.thumbnail.welcome-background

    %div.timeline-block
      %div.timeline-block-image-border
        %div.timeline-block-image
          %i.icon.ion-ios-heart

      %div.timeline-content
        %h1
          Welcome, #{current_user.username}!
        %p.description{:style => 'padding-right: 10px; font-size: 1.2em; line-height: 2em;'}
          It is a pleasure to have you here!
          %br
          %br
          Your feed is empty right now but you can get started right away.
          %br
          Try following your friends and favorite Cardists. All activity of people you follow will show up in this feed.
          %br
          There are some suggestions on what to do below. You can use these to dive right into the community!
          %br
          If you are more of an adventurous person, you can explore on your own as well.
          %br
          %br
          We hope you will have a great time on CARDISTRY.IO! ♥

    %div.timeline-block
      %div.timeline-block-image-border
        %div.timeline-block-image
          %i.icon.ion-ios-videocam

      %div.timeline-content
        %h1{:style => 'margin-bottom: 45px;'}
          Some of the most popular videos
        %div.cards{:style => 'padding: 0 19px 0 18px'}
          %div.card
            %div.card-image
              = image_tag "thumbnail-placeholder.png"
            %div.card-header
              Quaalude
            %div.card-copy
              Quaalude is a three packet cut created by Tobias Levin.
            %div.card-meta
              1.337 views | posted 2 days ago
              %div.rating
                %i.icon.ion-android-star
                %i.icon.ion-android-star
                %i.icon.ion-android-star
                %i.icon.ion-android-star
                %i.icon.ion-android-star

          %div.card
            %div.card-image
              = image_tag "thumbnail-placeholder.png"
            %div.card-header
              Flicker Shot
            %div.card-copy
              When our video, Air Time, went viral, we received countless requests to produce a Cardistry tutorial of the move in it where a card was boomeranged behind Huron’s back into his other hand. The move, Flicker Shot, is one of Huron’s signature card flourishes, and has never been published before.
            %div.card-meta
              1.337 views | posted 2 days ago
              %div.rating
                %i.icon.ion-android-star
                %i.icon.ion-android-star
                %i.icon.ion-android-star
                %i.icon.ion-android-star
                %i.icon.ion-android-star

          %div.card
            %div.card-image
              = image_tag "thumbnail-placeholder.png"
            %div.card-header
              Legolove
            %div.card-copy
              In order to understand and appreciate the art of cardistry combos, one must gather knowledge of as many moves as possible. Simplicity and practicality plays an important role when you're combining and/or improvising. Through the years, we've come across many different utility moves with different appearance and levels of simplicity.
            %div.card-meta
              1337 views | posted 2 days ago
              %div.rating
                %i.icon.ion-android-star
                %i.icon.ion-android-star
                %i.icon.ion-android-star
                %i.icon.ion-android-star
                %i.icon.ion-android-star


    %div.timeline-block
      %div.timeline-block-image-border
        %div.timeline-block-image
          %i.icon.ion-ios-people

      %div.timeline-content
        %h1{:style => 'margin-bottom: 10px;'}
          Some of our most popular users
        %div.grid-items-lines
          %a.grid-item
            = image_tag("example-avatar.jpg")
            %h3
              Johnny McFlourish
            %p
              Germany

          %a.grid-item
            = image_tag("example-avatar.jpg")
            %h3
              Johnny McFlourish
            %p
              Germany

          %a.grid-item
            = image_tag("example-avatar.jpg")
            %h3
              Johnny McFlourish
            %p
              Germany

          %a.grid-item
            = image_tag("example-avatar.jpg")
            %h3
              Johnny McFlourish
            %p
              Germany

          %a.grid-item
            = image_tag("example-avatar.jpg")
            %h3
              Johnny McFlourish
            %p
              Germany

          %a.grid-item
            = image_tag("example-avatar.jpg")
            %h3
              Johnny McFlourish
            %p
              Germany

  - else
    = render partial: "feeds/list", collection: @feed, as: :activity

    %div.timeline-pagination
      %div.timeline-pagination-circle
      %span.timeline-separator
        %ul.pagination
          - if @feed.more_previous_pages?
            %li.pagination-nav-button.back
              = link_to "<i class='icon ion-ios-arrow-back'></i>".html_safe, root_path(page: @feed.previous_page)
          - else
            %li.pagination-nav-button.back.disabled
              %i.icon.ion-ios-arrow-back

          %li.pagination-text
            Page #{@feed.current_page} of #{@feed.number_of_pages}

          - if @feed.more_pages?
            %li.pagination-nav-button.forward
              = link_to "<i class='icon ion-ios-arrow-forward'></i>".html_safe, root_path(page: @feed.next_page)
          - else
            %li.pagination-nav-button.forward.disabled
              %i.icon.ion-ios-arrow-forward


