%div.timeline
  - if [@feed.today, @feed.yesterday, @feed.last_week, @feed.older_than_one_week].all?(&:empty?)
    %div.timeline-block
      %div.timeline-block-image-border
        %div.timeline-block-image
          %i.icon.ion-ios-star

      %div.timeline-content
        %div.welcome-message
          = image_tag("logo-white.svg", :class => "welcome-logo")
        %div.thumbnail.welcome-background

    %div.timeline-block
      %div.timeline-block-image-border
        %div.timeline-block-image
          %i.icon.ion-ios-heart

      %div.timeline-content
        %h2
          Welcome, #{current_user.username}!
        %p.description{:style => 'padding-right: 10px; font-size: 1.2em; line-height: 2em;'}
          %br
          It is a pleasure to have you here!
          %br
          %br
          Your feed is empty right now but you can get started right away.
          %br
          Try following your friends and favorite Cardists. All activity of people you follow will show up in this feed.
          %br
          There are some suggestions on what to do below. You can use these to dive right into the community!
          %br
          If you are more of an adventurous person, you can explore on your own as well.
          %br
          %br
          We hope you will have a great time on CARDISTRY.IO! ♥
  - else
    - if @feed.today.present?
      %div.timeline-headline
        %div.timeline-headline-circle
        %h1 Today
      = render partial: "feeds/list", locals: { activities: @feed.today }

    - if @feed.yesterday.present?
      %div.timeline-headline
        %div.timeline-headline-circle
        %h1 Yesterday
      = render partial: "feeds/list", locals: { activities: @feed.yesterday }

    - if @feed.last_week.present?
      %div.timeline-headline
        %div.timeline-headline-circle
        %h1 Last week
      = render partial: "feeds/list", locals: { activities: @feed.last_week }

    - if @feed.older_than_one_week.present?
      %div.timeline-headline
        %div.timeline-headline-circle
        %h1 Earlier
      = render partial: "feeds/list", locals: { activities: @feed.older_than_one_week }