- if @videos.present?
  - @videos.each do |video|
    = render partial: "videos/embed_video", locals: { video: video }

    %h1= video.name

    = simple_format link_mentions(video.description)
    = link_to video.user.username, video.user
    = button_to "Approve", approve_video_path(video), method: :post
    = button_to "Disapprove", disapprove_video_path(video), method: :delete
- else
  There are no videos to approve
