%div.field
  = form.label :email
  = form.text_field :email, type: "email"

%div.field
  = form.label :password
  = form.password_field :password

%div.field
  = form.label :first_name
  = form.password_field :first_name

%div.field
  = form.label :last_name
  = form.password_field :last_name
