%div.input-field
  = form.input :username

%div.input-field
  = form.input :email

%div.input-field
  = form.input :password, required: true

%div.input-field
  = form.input :time_zone

%div.input-field
  = form.input :country_code, label: "Country"
