%div.cards
  - if @user.videos.all_public.present?
    - @user.videos.each do |video|
      = link_to video, {:class => "card"} do
        %div.card-image
          - if video.thumbnail_url.present?
            = image_tag video.thumbnail_url
          - else
            = image_tag "thumbnail-placeholder.png"
        %div.card-header
          = "#{video.name}"
        %div.card-copy
          = "#{video.description}"
        %div.card-meta
          = pluralize video.views.count, "view"
          = "| posted #{time_ago_in_words(video.created_at)} ago"
          %div.rating
            %i.icon.ion-android-star
            %i.icon.ion-android-star
            %i.icon.ion-android-star
            %i.icon.ion-android-star
            %i.icon.ion-android-star
  - else
    %h1
      No videos yet.

