%h1 Update profile

= simple_form_for @user do |f|
  %div.field
    = f.input :biography

  %div.field
    = f.input :email

  - if @user.admin
    %div.field
      = f.input :email_frequency, label: "Receive email notifications", include_blank: false

  %div.field
    = f.input :time_zone

  %div.field
    = f.input :country_code, label: "Country"

  %div.field
    = f.button :submit

%p
  You can change your password #{link_to "here", edit_user_password_path(current_user) }

%p
  Change your profile picture with <a href="https://gravatar.com">Gravatar</a>
