%div#clearance.sign-up
  %h2= t ".title"

  = simple_form_for @user do |form|
    = render partial: "/users/form", object: form

    %div.submit-field
      = form.submit

    %div.other-links
      = link_to t(".sign_in"), sign_in_path
