%div.profile-box
  %div.avatar
    = image_tag(@user.gravatar_url, :class => "gravatar")

%div.information
  %h3
    = @user.username
  %span.location
    #{@user.country_name} (#{@user.time_zone})
  %p.profile-text
    = simple_format @user.biography

  - if @user.instagram_username.present?
    %p
      On Instagram:
      = link_to @user.instagram_username, "http://instagram.com/#{@user.instagram_username}"

  - if signed_in? && @user != current_user
    %div.follow_actions
      - if current_user.follows?(@user)
        = button_to "Unfollow", follow_user_path(@user), method: :delete, params: { user_id: @user.id }
      - else
        = button_to "Follow", follow_user_path(@user), method: :post, params: { user_id: @user.id }

%div.relationships
  = link_to following_user_path(@user) do
    %div.circle-count
      %span.number
        = @user.following.length
      %br
      %span.word
        following

  %div.circle-count
    =link_to followers_user_path(@user) do
      %span.number
        = @user.followers.length
      %br
      %span.word
        followers

- if current_user == @user
  = link_to "Edit", edit_user_path(@user)

- if current_user.admin? && !@user.admin
  = link_to "Make admin", make_admin_user_path(@user), method: :post, data: { confirm: "Sure?" }
