%div.profile-box
  %div.backdrop
    = image_tag(@user.gravatar_url, :class => "backdrop-gravatar")
    %div.user-information
      = image_tag(@user.gravatar_url, :class => "gravatar")
      %h3
        = @user.username
      %p.location
        #{@user.country_name} (#{@user.time_zone})

    %div.overlay

  = render partial: "profile_container", locals: { user: @user }

  %div.profile-navigation
    %ul.profile-nav-items
      %a{:href => "#"}
        %li
          VIDEOS
      %a{:href => "#"}
        %li
          IDEAS
      %a{:href => "#"}
        %li
          MOVES

%div.profile-content
  %div.content-element
    = render partial: "user_videos_cards", locals: { videos: @user.videos.all_public }
  %div.content-element
    = render partial: "user_moves_cards", locals: { moves: @user.moves.ideas, type: "ideas" }
  %div.content-element
    = render partial: "user_moves_cards", locals: { moves: @user.moves.finished, type: "moves" }

- if current_user.admin? && !@user.admin
  %div.admin-actions
    = link_to "Make admin", make_admin_user_path(@user), method: :post, data: { confirm: "Sure?" }
