%div.profile-box
  %div.backdrop
    = image_tag(@user.gravatar_url, :class => "backdrop-gravatar")
    %div.user-information
      = image_tag(@user.gravatar_url, :class => "gravatar")
      %h3
        = @user.username
      %p.location
        #{@user.country_name} (#{@user.time_zone})
      - if signed_in? && @user != current_user
        - if current_user.follows?(@user)
          = link_to "UNFOLLOW", follow_user_path(@user), method: :delete, params: { user_id: @user.id }
        - else
          = link_to "FOLLOW", follow_user_path(@user), method: :post, params: { user_id: @user.id }

    %div.overlay

  %div.profile-container
    %div.grid-items-lines
      %div.grid-item{:style => "display: table;"}
        %ul.user-navigation
          - if signed_in? && @user != current_user
            - if current_user.follows?(@user)
              = link_to follow_user_path(@user), method: :post, params: { user_id: @user.id } do
                %li
                  %i.icon.ion-person-remove
                  Unfollow
            - else
              = link_to follow_user_path(@user), method: :post, params: { user_id: @user.id } do
                %li
                  %i.icon.ion-person-add
                    Follow
          - if current_user == @user
            = link_to edit_user_path(@user) do
              %li
                %i.icon.ion-edit
                Edit


          %li
            = link_to edit_user_path do
              %i.icon.ion-paper-airplane
              Message
          %li
            = link_to edit_user_path do
              %i.icon.ion-social-instagram
              Instagram


      %div.grid-item{:style => "display: table;"}
        %p.biography
          #{@user.biography}

      %div.grid-item{:style => "display: table;"}
        %div.stats{:style => "display: table-cell; vertical-align: middle;"}
          %ul{:style => "text-align: right;"}
            = link_to followers_user_path(@user) do
              %li
                %span.number
                  = @user.followers.length
                %span.word
                  followers
            = link_to following_user_path(@user) do
              %li
                %span.number
                  = @user.following.length
                %span.word
                  following


    -#
    -#  - if signed_in? && @user != current_user
    -#    %div.follow-actions
    -#      - if current_user.follows?(@user)
    -#        = button_to "UNFOLLOW", follow_user_path(@user), method: :delete, params: { user_id: @user.id }
    -#      - else
    -#        = button_to "FOLLOW", follow_user_path(@user), method: :post, params: { user_id: @user.id }
    -#
    -#  - if current_user == @user
    -#    %div.follow-actions
    -#      = button_to "EDIT", edit_user_path(@user)
    -#
    -#  %div.container
    -#    %p.location
    -#      #{@user.country_name} (#{@user.time_zone})
    -#
    -#    %p.biography
    -#      #{@user.biography}
    -#
    -#    - if @user.instagram_username.present?
    -#      %p
    -#        On Instagram:
    -#        = link_to @user.instagram_username, "http://instagram.com/#{@user.instagram_username}"
    -#
    -#%div.stats
    -#  %ul
    -#    = link_to followers_user_path(@user) do
    -#      %li
    -#        = @user.followers.length
    -#        %span
    -#          followers
    -#    = link_to following_user_path(@user) do
    -#      %li
    -#        = @user.following.length
    -#        %span
    -#          following

  %div.profile-navigation
    %ul
      %a{:href => "#"}
        %li
          VIDEOS
      %a{:href => "#"}
        %li
          IDEAS
      %a{:href => "#"}
        %li
          MOVES

- if current_user.admin? && !@user.admin
  = link_to "Make admin", make_admin_user_path(@user), method: :post, data: { confirm: "Sure?" }
