= image_tag @user.gravatar_url

.user_biography
  = simple_format @user.biography

%div
  Time zone:
  = @user.time_zone

- if @user.instagram_username.present?
  %p
    On Instagram:
    = link_to @user.instagram_username, "http://instagram.com/#{@user.instagram_username}"

- if signed_in? && @user != current_user
  %div.follow_actions
    - if current_user.follows?(@user)
      = button_to "Unfollow", follow_user_path(@user), method: :delete, params: { user_id: @user.id }
    - else
      = button_to "Follow", follow_user_path(@user), method: :post, params: { user_id: @user.id }

= link_to "Following", following_user_path(@user)
= link_to "Followers", followers_user_path(@user)

- if current_user == @user
  = link_to "Edit", edit_user_path(@user)

- if current_user.admin? && !@user.admin
  = link_to "Make admin", make_admin_user_path(@user), method: :post, data: { confirm: "Sure?" }
