= link_to video, class: "card" do
  %div.card-image
    - if video.thumbnail_url.present?
      = image_tag video.thumbnail_url
    - else
      = image_tag "thumbnail-placeholder.png"

  %div.card-header
    = video.name

  - if include_copy && video.description.present?
    %div.card-copy
      = simple_format link_mentions(video.description)

  - if include_meta
    %div.card-meta
      = pluralize video.views.count, "view"
      = "| " + t("users.profile.posted", time: video.created_at.to_s(:short))
      %div.rating
        - if video.ratings.empty?
          = t "ratings.not_rated"
        - else
          - WithRatingStats.new(video).average_rating.round.times do
            %i.icon.ion-android-star
