= simple_form_for video do |f|
  = f.input :name
  = f.input :description
  = f.input :private
  = f.input :url, label: "URL", hint: "URLs from YouTube and Vimeo are supported"
  %div
    = f.button :submit, text
