= simple_form_for video do |f|
  - if params[:thumbnail_url]
    = f.input :thumbnail_url, value: params[:thumbnail_url], as: :hidden
  = f.input :name
  = f.input :description
  = f.input :video_type, label: "Type", prompt: "Pick a type", label_method: ->(x) { x.last.humanize }
  = f.input :private
  - if video.new_record?
    = f.input :url, label: "URL", hint: video.url_hint
  = f.input :instagram_id, as: :hidden

  = render partial: "shared/add_credits_fields", locals: { object: video }

  %div
    = f.button :submit, text
