= simple_form_for video, wrapper: :material_form do |f|
  - if params[:thumbnail_url]
    = f.input :thumbnail_url, value: params[:thumbnail_url], as: :hidden
  = f.input :name, label: "Title", wrapper_html: { class: "input-field" }
  = f.input :description
  - if video.new_record?
    = f.input :url, hint: video.url_hint, label: "URL"
  = f.input :instagram_id, as: :hidden
  = f.input :video_type, prompt: "Pick a type *", label_method: ->(x) { x.last.humanize }, label: false

  = render partial: "shared/add_credits_fields", locals: { object: video }

  = f.input :private
  %div
    = f.button :submit, text
