= simple_form_for video do |f|
  = f.input :name
  = f.input :description
  = f.input :private
  = f.input :url, label: "URL", hint: video.url_hint
  = f.input :instagram_id, as: :hidden
  %div
    = f.button :submit, text
