.search-filters
  = form_tag filter_submit_path, method: :get, class: "filter-form" do
    = fields_for :filter do |form|
      .filter-element.filter-select
        = videos_filter_select(form)

    = fields_for :sort do |f|
      .filter-element.filter-select
        = videos_sort_by_select(f)

      .filter-element.filter-select
        = videos_sort_direction_select(f)

    - if signed_in? && request.path == videos_path
      .filter-element
        = check_box_tag :not_viewed, true, params[:not_viewed], onchange: "this.form.submit()"
        = label_tag :not_viewed

- if page.present?
  = render partial: "shared/paginated_list", locals: { type: "videos", page: page }
- else
  = t "videos.list.empty"
