-# TODO: Also filter "My videos"

= form_tag all_videos_path, method: :get do
  = fields_for :filter do |f|
    = f.label :type, "Type"
    = f.select :type, options_for_select(Video.types_for_filtering)

  = fields_for :sort do |f|
    = f.label :by, "Sort by"
    = f.select :by, options_for_select([["Date", "created_at"], ["Rating", "rating"], ["Views", "views_count"]])
    = f.select :direction, options_for_select([["Highest", "DESC"], ["Lowest", "ASC"]])

  = submit_tag "Go"

- if @paged_videos.present?
  - @paged_videos.each do |video|
    %ul
      %li= link_to video.name, video

  = link_to_if @paged_videos.more_previous_pages?, "Prev", all_videos_path(page: @paged_videos.previous_page)
  = link_to_if @paged_videos.more_pages?, "Next", all_videos_path(page: @paged_videos.next_page)
  %p
    Page #{@paged_videos.current_page} of #{@paged_videos.number_of_pages}
- else
  There are no videos, yet
