= simple_form_for @video do |f|
  = f.input :name
  = f.input :description
  = f.input :url, label: "YouTube URL"
  %div
    = f.button :submit
  %p
    %small
      Video will have to be approved by an admin before it'll appear on the site
