%h1= @video.name
= simple_format link_mentions(@video.description)

= render partial: "shared/ratings", locals: { key: :video_id, rateable: @video }

%p
  - if @video.appearances.present?
    Moves in this video
    %ul
      %li
        - @video.appearances.each do |appearance|
          = link_to appearance.move_name, appearance.move
          = TimeFormatter.new(appearance.minutes, appearance.seconds).format
  - else
    No move appearances added

- if current_user == @video.user
  %p= link_to "Edit move appearances", edit_appearances_video_path(@video)

= render partial: "embed_video", locals: { video: @video }

- if @video.user == current_user
  -# TODO: Make this a link
  = button_to "Edit", edit_video_path(@video), method: :get
  = button_to "Delete video", video_path(@video), method: :delete

  - if @video.private?
    = link_to "Share video", new_video_sharing_path(@video)

    - if @video.sharings.present?
      = link_to "Edit sharing", edit_video_sharings_path(@video)

%div.comments= render @video.comments
= render partial: "comments/form", locals: { commentable: @video }
