%div.show-content
  %div.embedded-video
    = render partial: "embed_video", locals: { video: @video }

  %h1.video-title
    = @video.name

  %div.author
    %span{:class => "mini-circle-avatar with-username", :style => "background: url(#{@video.user.gravatar_url}) no-repeat 0 0;  background-size: contain"}
    %span.username
      = link_to @video.user.username, @video.user

  %div.video-info
    - if @video.description.present?
      = simple_format link_mentions(@video.description)
    - else
      %p.no-description
        This video has no description...

    %h3.video-meta
      #{@video.video_type.humanize} |  posted #{time_ago_in_words(@video.created_at)} ago

    = render partial: "shared/ratings", locals: { rateable: @video }

    - cache ["credits/credits", @video] do
      = render partial: "credits/credits", locals: { creditable: @video }

    = render partial: "shared/show_moves_in_video", locals: { object: @video, name: "video" }

    - cache @video.comments do
      = render partial: "comments/comments", locals: { commentable: @video }

= render partial: "owner_actions", locals: { video: @video }
