%div.video-content
  %div.embedded-video
    = render partial: "embed_video", locals: { video: @video }

  %h1
    = @video.name
  %div.author
    %span{:class => "mini-circle-avatar", :style => "background: url(#{@video.user.gravatar_url}) no-repeat 0 0;  background-size: contain"}
    %span.username
      = link_to @video.user.username, @video.user

  %div.video-info
    = simple_format link_mentions(@video.description)

    %div.meta
      = @video.video_type.humanize
      |
      = "posted #{time_ago_in_words(@video.created_at)} ago"

    %div.grid-items-lines
      = render partial: "shared/show_credits", locals: { object: @video, name: "video" }

      = render partial: "shared/ratings", locals: { rateable: @video }

      %div.grid-item
        - if @video.appearances.present?
          %h1
            Moves in this video
          %ul
            - @video.appearances.each do |appearance|
              %li
                %p
                  = TimeFormatter.new(appearance.minutes, appearance.seconds).format
                  |
                  = link_to appearance.move_name, appearance.move
        - else
          No move appearances added

    %div.comments
      - @video.comments.each do |comment|
        %div.comment
          %div.comment-image
            = image_tag comment.user.gravatar_url
          %div.comment-content
            = comment.content
            %p.comment-detail
              commented #{time_ago_in_words(comment.created_at)} ago

  = render partial: "comments/form", locals: { commentable: @video }

  - if @video.user == current_user
    %div.owner-actions
      %ul
        %li
          = pluralize @video.views.count, "view"
          |
          = pluralize @video.unique_views_count, "unique view"
        %li
          = link_to "Edit move appearances", edit_appearances_video_path(@video)

        -# TODO: Make this a link
        %li
          = button_to "Edit", edit_video_path(@video), method: :get
        %li
          = button_to "Delete video", video_path(@video), method: :delete, data: { confirm: "Sure?" }

        - if @video.private?
          = link_to "Share video", new_video_sharing_path(@video)

        - if @video.sharings.present?
          = link_to "Edit sharing", edit_video_sharings_path(@video)
