%div.video-content
  %div.embedded-video
    = render partial: "embed_video", locals: { video: @video }

  %h1.video-title
    = @video.name
  %div.author
    %span{:class => "mini-circle-avatar with-username", :style => "background: url(#{@video.user.gravatar_url}) no-repeat 0 0;  background-size: contain"}
    %span.username
      = link_to @video.user.username, @video.user

  = render partial: "shared/ratings", locals: { rateable: @video }

  %div.video-info
    - if @video.description.present?
      = simple_format link_mentions(@video.description)
    - else
      %p.no-description
        This video has no description...

    %h3.video-meta
      = @video.video_type.humanize
      |
      = "posted #{time_ago_in_words(@video.created_at)} ago"

    %div.grid-items-lines
      = render partial: "shared/show_credits", locals: { object: @video, name: "video" }

      - if @video.appearances.present?
        %div.grid-item
          %h2
            Moves in this video
          %ul
            - @video.appearances.each do |appearance|
              %li
                %p
                  = TimeFormatter.new(appearance.minutes, appearance.seconds).format
                  |
                  = link_to appearance.move_name, appearance.move

    %div.comments= render @video.comments.order(:created_at)

    = render partial: "comments/form", locals: { commentable: @video }

  - if @video.user == current_user
    %div.owner-actions
      %ul
        %li
          = pluralize @video.views.count, "view"
          |
          = pluralize @video.unique_views_count, "unique view"
        %li
          = link_to "Edit move appearances", edit_appearances_video_path(@video)

        -# TODO: Make this a link
        %li
          = button_to "Edit", edit_video_path(@video), method: :get
        %li
          = button_to "Delete video", video_path(@video), method: :delete, data: { confirm: "Sure?" }

        - if @video.private?
          = link_to "Share video", new_video_sharing_path(@video)

        - if @video.sharings.present?
          = link_to "Edit sharing", edit_video_sharings_path(@video)
