%ul.object-list
  - page.each do |object|
    %li.list-item
      = render partial: "embed_video", locals: { video: object }
      %h3.item-name= link_to object.name, object
      %h4.author= "by #{object.user.username}"
      %p.description= object.description

      %ul.attributes
        %li.runtime 02:30
        %li.view-count= rand(10000)
        %li.comment-count= rand(100)

- path = ->(options) { polymorphic_path([:all, page.detect { true }.class], options) }

- if page.more_previous_pages?
  = link_to "Prev", path.call(page: page.previous_page)
- else
  Prev

- if page.more_pages?
  = link_to "Next", path.call(page: page.next_page)
- else
  Next

%p
  Page #{page.current_page} of #{page.number_of_pages}
