%div.ratings
  = render partial: "shared/current_ratings", locals: { rateable: rateable }

  %div.interaction
    %ul.rate
      - if current_user.can_rate?(rateable)
        %div.send-ratings
          - path = polymorphic_path([rateable, :ratings])
          %li.rate-button#rate-1
            = button_to "", path, method: :post, form_class: "rating-widget-form", params: { rateable.foreign_key => rateable.id, "rating" => 1 }, class: "hide-button"
            Delete now
          %li.rate-button#rate-2
            = button_to "", path, method: :post, form_class: "rating-widget-form", params: { rateable.foreign_key => rateable.id, "rating" => 2 }, class: "hide-button"
            Needs Work
          %li.rate-button#rate-3
            = button_to "", path, method: :post, form_class: "rating-widget-form", params: { rateable.foreign_key => rateable.id, "rating" => 3 }, class: "hide-button"
            Good
          %li.rate-button#rate-4
            = button_to "", path, method: :post, form_class: "rating-widget-form", params: { rateable.foreign_key => rateable.id, "rating" => 4 }, class: "hide-button"
            Awesome
          %li.rate-button#rate-5
            = button_to "", path, method: :post, form_class: "rating-widget-form", params: { rateable.foreign_key => rateable.id, "rating" => 5 }, class: "hide-button"
            Inhuman
      - else
        - if rateable.ratings.find_by(user: current_user).present?
          %div.send-ratings
            - if rateable.ratings.find_by(user: current_user).rating == 1
              %li.rate-button#rate-1.success.disabled
                Rating counted
            - else
              %li.rate-button#rate-1.disabled
                Delete now

            - if rateable.ratings.find_by(user: current_user).rating == 2
              %li.rate-button#rate-2.success.disabled
                Rating counted
            - else
              %li.rate-button#rate-2.disabled
                Needs work

            - if rateable.ratings.find_by(user: current_user).rating == 3
              %li.rate-button#rate-3.success.disabled
                Rating counted
            - else
              %li.rate-button#rate-3.disabled
                Good

            - if rateable.ratings.find_by(user: current_user).rating == 4
              %li.rate-button#rate-4.success.disabled
                Rating counted
            - else
              %li.rate-button#rate-4.disabled
                Awesome

            - if rateable.ratings.find_by(user: current_user).rating == 5
              %li.rate-button#rate-5.success.disabled
                Rating counted
            - else
              %li.rate-button#rate-5.disabled
                Inhuman
        - else
          %div.send-ratings.ratings-disabled
            - if signed_in?
              You can't rate your own #{rateable.class.name.downcase.pluralize}.
            - else
              = link_to "Sign in to rate", sign_in_path
