!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    %meta{:content => "initial-scale=1", :name => "viewport"}/
    %title
      CardistryIO beta log in
    = csrf_meta_tags

  %body
    - if flash.alert.present?
      %div{style: "text-align: center;"}
        🚨 #{flash.alert} 🚨
      %hr

    %h1
      Welcome to CardistryIO

    %p
      CardistryIO is not quite ready yet. If you are part of beta you can enter your
      username and password below. Otherwise you can go to <a href="http://beta.cardistry.io">beta.cardistry.io</a> to join the waiting list.

    = form_tag beta_signin_url, method: :post do
      = hidden_field_tag :redirect_to, request.url

      .field
        = label_tag :username
        = text_field_tag :username

      .field
        = label_tag :password
        = password_field_tag :password

      .field
        = submit_tag "Login"
