%li.list-item.-move
  %span{:class => "mini-circle-avatar with-username", :style => "background: url(#{object.user.gravatar_url}) no-repeat 0 0;  background-size: contain"}
  %span.username
    = link_to object.user.username, object.user

  %h1.list-title= link_to object.name, object

  - if object.description?
    .description= simple_format link_mentions(object.description)
  - else
    %p.no-description
      There is no description for this move.

  %ul.attributes
    %li{class: "average-ratings"}
      %h3 #{object.average_rating} average ratings
    %li{class: "total-ratings"}
      %h3 #{object.ratings.count} total ratings
