%li.list-item.-move
  %h1.list-title= link_to object.name, object

  %span{:class => "mini-circle-avatar with-username", :style => "background: url(#{object.user.gravatar_url}) no-repeat 0 0;  background-size: contain"}
  %span.username
    = link_to object.user.username, object.user
  %p.description= object.description

  %ul.attributes
    - object.additional_attributes.each do |attribute, value|
      %li{class: attribute}
        %h3= "#{value} #{attribute.titleize}"
