%div.show-content
  %h1.move-title
    = @move.name
  %div.author.left-align
    %span{:class => "mini-circle-avatar with-username", :style => "background: url(#{@move.user.gravatar_url}) no-repeat 0 0;  background-size: contain"}
    %span.username
      = link_to @move.user.username, @move.user

  %div.video-info
    - if @move.description.present?
      = simple_format link_mentions(@move.description)
    - else
      %p.no-description
        This move has no description...

    %h3.video-meta
      = "posted #{time_ago_in_words(@move.created_at)} ago"

    = render partial: "shared/ratings", locals: { rateable: @move }

    = render partial: "shared/show_credits", locals: { object: @move, name: "move" }

    = render partial: "shared/show_move_appearances", locals: { object: @move, name: "move" }

    - cache @move.comments do
      = render partial: "comments/comments", locals: { commentable: @move }

- if @move.user == current_user
  %div.owner-actions
    = button_to "Edit move", edit_move_path(@move), method: :get
    = button_to "Delete move", @move, method: :delete, data: { confirm: "Sure?" }
