%h1= @move.name
= simple_format link_mentions(@move.description)

= render partial: "shared/show_credits", locals: { object: @move, name: "move" }

= render partial: "shared/ratings_move", locals: { rateable: @move }

%p
  - if @move.appearances.present?
    Appears in
    %ul
      %li
        - @move.appearances.each do |appearance|
          = link_to appearance.video_name, appearance.video
          = TimeFormatter.new(appearance.minutes, appearance.seconds).format
  - else
    Doesn't appear in any videos

.actions
  - if current_user == @move.user
    = button_to "Edit", edit_move_path(@move), method: :get
    = button_to "Delete move", @move, method: :delete, data: { confirm: "Sure?" }

%div.comments= render @move.comments.order(:created_at)
= render partial: "comments/form", locals: { commentable: @move }
