%div.field
  = label_tag :move_name do
    Move name
    = select_tag :move_name,
        options_for_select(Move.all.map { |move| [move.name, move.name] },
                           appearance.move_name),
        name: "move_names[]"

  = label_tag :minutes do
    Minutes
    = text_field_tag :minutes, appearance.minutes, name: "minutes[]"

  = label_tag :seconds do
    Seconds
    = text_field_tag :seconds, appearance.seconds, name: "seconds[]"

  %button{type: "button", class: "video-appearances-remove"}
    Remove
