= form_tag update_appearances_video_path, method: :patch, class: "video-appearances" do
  %div.fields
    - if @video.appearances.present?
      - @video.appearances.each do |appearance|
        = render partial: "video_appearances_field_group", locals: { appearance: appearance }
    - else
      = render partial: "video_appearances_field_group", locals: { appearance: NullAppearance.new }

  %button{type: "button", class: "video-appearances-add"}
    Add

  %div.submit
    = submit_tag "Submit"

  = render partial: "videos/embed_video", locals: { video: @video }

= button_to "Delete all appearances", destroy_appearances_video_path, method: :delete
