%div.button-bar
  - if signed_in?
    = render "upload_button"
    = render "notifications_dropdown"
    = render "profile_button"
  - else
    = link_to "Sign in", sign_in_path, class: "pill-button-outline"
    = link_to "Sign up", sign_up_path, class: "pill-button-outline"
