%div.button-bar
  %div.dropdown
    %button.pill-button-filled.dropdown-toggle{:id => "upload-button", :data => {:toggle => "dropdown"}, :href => "#"}
      %i.icon.ion-upload
      Upload
      %i.icon.ion-arrow-down-b
    %ul.dropdown-menu.dropdown-menu-right{:aria => {:labelledby => "upload-buton"}}
      %li
        =link_to new_video_path do
          %span.dropdown-button-title
            Video
          %span.dropdown-button-text
            Upload your new masterpiece.
      %li
        =link_to new_move_path do
          %span.dropdown-button-title
            Move
          %span.dropdown-button-text
            Add a new move to the database.
      %li
        =link_to new_move_path do
          %span.dropdown-button-title
            Idea
          %span.dropdown-button-text
            Capture that amazing thought you just had.
      %li
        =link_to instagram_path do
          %span.dropdown-button-title
            Import from Instagram
          %span.dropdown-button-text
            Let everybody see what you posted on Instagram.

  - if signed_in?
    // = link_to notifications_path do
    %div.dropdown
      %button.pill-button-outline.dropdown-toggle{:id => "notifications-button", :data => {:toggle => "dropdown"}, :href => "#"}
        %i.icon.ion-android-notifications
        -#Notifications (#{current_user.new_notifications.count})
      %ul.dropdown-menu.dropdown-menu-right{:aria => {:labelledby => "notifications-button"}}
        %li.notification-header
          %span.notification-count
            #{current_user.new_notifications.count}
          new notifications




  - if signed_in?
    //= link_to current_user do
    %div.dropdown
      %button.pill-button-outline.dropdown-toggle{:id => "profile-button", :data => {:toggle => "dropdown"}, :href => "#"}
        %span{:style => "background: url(#{current_user.gravatar_url}) no-repeat 0 0;  background-size: contain"}
        = current_user.username
        %i.icon.ion-arrow-down-b
      %ul.dropdown-menu.dropdown-menu-right{:aria => {:labelledby => "profile-button"}}
        %li
          = link_to current_user do
            %span.dropdown-button-title
              Your profile
            %span.dropdown-button-text
              Check out and edit your profile.
        %li
          = link_to current_user do
            %span.dropdown-button-title
              Settings
            %span.dropdown-button-text
              Make adjustments to your settings concerning privacy, notifications and more.
        %li.last
          = link_to sign_out_path, method: :delete do
            %span.dropdown-button-title
              Sign Out
            %span.dropdown-button-text
              See ya!
  - else
    = link_to sign_in_path do
      %button.pill-button-outline
        Sign in
    = link_to sign_up_path do
      %button.pill-button-outline
        Sign up
