.header-navigation
  = link_to root_path, class: "main-logo-container" do
    = image_tag("logo.svg", class: "main-logo")

  = link_to "#", class: "header-mobile-link", data: { behavior: "toggle-search" } do
    = icon "search"

  - if signed_in?
    = link_to notifications_path, class: "header-mobile-link" do
      - if current_user.new_notifications.present?
        = icon "android-notifications", class: "new-notifications"
      - else
        = icon "android-notifications"

    - if current_user.admin?
      = link_to approve_videos_path, class: "header-mobile-link" do
        = icon "thumbsup"

    = link_to sign_out_path, method: :delete, class: "header-mobile-link" do
      = icon "log-out"

.header-search
  = render "search_field"
