%ul.mobile-nav
  - if signed_in?
    = nav_link "Feed", users_path, icon: "ios-list"
  - else
    = nav_link "Sign up", sign_up_path, icon: "star"
    = nav_link "Log in", sign_in_path, icon: "log-in"

  = nav_link "Videos", videos_path, icon: "ios-film"
  = nav_link "Moves", moves_path, icon: "android-hand"

  - if signed_in?
    = nav_link "Me", user_path(current_user), icon: "person"
