%nav.main-nav
  %h1
    = link_to "CardistryIO", root_path

  = link_to "All moves", all_moves_path
  = link_to "All videos", all_videos_path

  - if signed_in?
    = link_to "Videos shared with you", shared_videos_path

  - if current_user.admin?
    = link_to "Approve videos", approve_videos_path

  - if signed_in?
    = link_to "My moves", moves_path
    = link_to "My videos", videos_path
    = link_to "Add move", new_move_path
    = link_to "Submit video", new_video_path
    = link_to "Submit videos from Instagram", instagram_path
    = link_to current_user.username, current_user
    = link_to "Sign out", sign_out_path, method: :delete
  - else
    = link_to "Sign in", sign_in_path
    = link_to "Sign up", sign_up_path

  = link_to "Contact", page_path("contact")
