%div.main-nav
  %ul
    = nav_link "All Users", users_path, icon: "person-stalker"
    = nav_link "All Moves", moves_path, icon: "android-hand"
    = nav_link "All Videos", videos_path, icon: "ios-film"

    - if signed_in?
      = nav_link "My Moves", user_moves_path(current_user), icon: "android-hand"
      = nav_link "My Videos", user_videos_path(current_user), icon: "ios-film"

    %hr.menu-divider

    - if signed_in?
      = nav_link "Videos shared with you", shared_videos_path, icon: "android-share-alt"

      - if current_user.admin?
        = nav_link "Approve videos (#{Video.unapproved.count})", approve_videos_path, icon: "thumbsup"

      %hr.menu-divider

    = nav_link "Contact", page_path("contact"), icon: "paper-airplane"
