!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    %meta{:content => "initial-scale=1", :name => "viewport"}/
    %title= title
    = stylesheet_link_tag :application, media: "all"
    = csrf_meta_tags

  %body{:class => body_class}
    = render "flashes"
    = render "nav"

    %div.main-content
      = yield

    = render "javascript"
