!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    %meta{:content => "initial-scale=1", :name => "viewport"}/
    %title= title
    %link{href: "http://vjs.zencdn.net/4.12/video-js.css", rel: "stylesheet"}
    %script{src: "http://vjs.zencdn.net/4.12/video.js"}

    = stylesheet_link_tag :application, media: "all"
    = csrf_meta_tags

  %body{:class => body_class}
    = render "flashes"

    %div.outer-container

      %header
        = render "header"
        = render "buttonbar"

      %nav.desktop
        = render "nav_desktop"

      %section
        = yield

      %nav.mobile
        =render "nav_mobile"

      %footer
        = render "footer"


    -# %div.main-content
      = yield

    -# %footer.main-footer
      Created by David Pedersen and Ben Dobos | Open source on <a href="https://github.com/davidpdrsn/CardistryIO">GitHub</a> | Send me an <a href="mailto:david.pdrsn@gmail.com">email</a>

    = render "javascript"
