!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    %meta{:content => "initial-scale=1", :name => "viewport"}/
    - if Rails.env.development?
      %title #{title} @ dev
    - else
      %title= title
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:400,700|Prompt:300,300i,600", rel: "stylesheet"}

    - if Rails.env.production?
      :javascript
        var USE_GOOGLE_ANALYTICS = ;
    = render "javascript"

    = favicon_link_tag "favicon.ico"
    = stylesheet_link_tag :application, media: "all"
    = csrf_meta_tags

  %body{:class => body_class}
    = render "flashes"

    %div.outer-container
      %header
        = render "header"
        = render "buttonbar"

      %nav.desktop
        = render "nav_desktop"

      %section.content-area
        = yield

      %nav.mobile
        =render "nav_mobile"

    = render "footer"
